

.card{
    padding: 17px;
    margin: 40px;
}
.card img{
    width: 435px;
    height: 435px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.5);
}

.container{
    margin-top: 50px;
    /* padding-top: 20px; */
}
.btn{
    
        margin-left: 20px;
}
 /* body{
  background:#152238;
} */