<mat-nav-list>
    <div class="logo py-4">
        <h4 id="brand">KV <i class="fa fa-diamond"></i> Jewellers</h4>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/dashboard/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/customers" routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon> Customers
    </a>
    <a mat-list-item routerLink="/orders" routerLinkActive="list-item-active">
        <mat-icon>lists</mat-icon> Orders
    </a>
    <a mat-list-item routerLink="/albums" routerLinkActive="list-item-active">
        <mat-icon>photos</mat-icon> Albums
    </a>
</mat-nav-list>
