.page{
    color:white;
    padding: 0 1rem;
    background: #f1f5f9;
}
.page_box{
    height: 80px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 26px;

}
.page_content{
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -1.5rem;
    background: white;
    color: black;
    font-size: 1rem;
}
.page-data{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}