
<body>


    <div>
        <div class="container">
            <div class="card" id="carder">
                <div class="row">
                    <h3 class="card-title" style="color: white;">Necklace</h3>

                    <div class="card col-md-1">
                        <img src="assets/images/N/Necklace-0 (1).jpg" alt="">
                    </div>
                    <div class="card col-md-1">
                        <img src="assets/images/N/Necklace-0 (2).jpg" alt="">
                    </div>
                    <div class="card col-md-1">
                        <img src="assets/images/N/Necklace-0 (3).jpg" alt="">
                    </div>
                    <div class="card col-md-1">
                        <img src="assets/images/N/Necklace-0 (4).jpg" alt="">
                    </div>
                    <div class="card col-md-1">
                        <img src="assets/images/N/Necklace-0 (5).jpg" alt="">
                    </div>
                    <div class="card col-md-1">
                        <img src="assets/images/N/Necklace-0 (6).jpg" alt="">
                    </div>
                    <div class="card col-md-1">
                        <button id="mnr" class="btn btn-primary" routerLink="/jewelry/women/necklace">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <div class="badge bg-primary">More</div>
                        </button>


                    </div>
                </div>

            </div>


        </div>




        <div>
            <div class="container">
                <div class="card" id="carder">
                    <div class="row">
                        <h3 style="color: white;">Men Rings</h3>
                        <div class="card col-md-1">
                            <img src="assets/images/menR/mr (1).jpg" alt="">
                        </div>
                        <div class="card col-md-1">
                            <img src="assets/images/menR/mr (2).jpg" alt="">
                        </div>
                        <div class="card col-md-1">
                            <img src="assets/images/menR/mr (3).jpg" alt="">
                        </div>
                        <div class="card col-md-1">
                            <img src="assets/images/menR/mr (4).jpg" alt="">
                        </div>
                        <div class="card col-md-1">
                            <img src="assets/images/menR/mr (5).jpg" alt="">
                        </div>
                        <div class="card col-md-1">
                            <img src="assets/images/menR/mr (6).jpg" alt="">
                        </div>
                        <div class="card col-md-1">
                            <button id="mnr" class="btn btn-primary" routerLink="/jewelry/men/rings">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <div class="badge bg-primary">More</div>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- <div class="card col-md-1">
        <img src="assets/images/menR/mr (2).jpg" alt="">
    </div>
    <div class="card col-md-1">
        <img src="assets/images/menR/mr (2).jpg" alt="">
    </div> -->
    

    <lib-ngx-image-zoom 
    [thumbImage]=myThumbnail
    [fullImage]=myFullresImage
    [magnification]="1"
    [enableScrollZoom]="true"
    [enableLens]="true"
    [lensWidth]="400"
    [lensHeight]="400"
    
   ></lib-ngx-image-zoom>
    
</body>


<!-- 
<div class="container">
    <div class="row">
        <ng-container *ngFor="let n of nlData">
            <div class="card col-md-4">
                <img src="{{n.image}}" alt="Necklace-0 (1)">
                <h6><strong>ID:&nbsp;</strong>{{n.id}}</h6>
                <h5>Item:&nbsp; {{n.title}}</h5>
                <p><strong>Weight:&nbsp; </strong>{{n.weight}}</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>  -->

<!-- <ng-container *ngFor="let n of nlData"> -->
<!-- <div class="card col-md-1"> -->
<!-- <img src="{{n.image}}" alt="Necklace-0 (1)"> -->
<!-- <h6><strong>ID:&nbsp;</strong>{{n.id}}</h6>
                <h5>Item:&nbsp; {{n.title}}</h5>
                <p><strong>Weight:&nbsp; </strong>{{n.weight}}</p>
                <button class="btn btn-primary">Add to cart</button> -->

<!-- <div class="card col-md-1">
                    <img src="assets/images/menR/mr (1).jpg" alt="">
                </div> -->

<!-- </ng-container> -->